In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("kidney_disease.csv")

In [3]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [4]:
dataset.isna().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [5]:
#sepreated the QuanQual dataset
quan=[]
qual=[]
for columnsName in dataset.columns:
    if(dataset[columnsName].dtype=='O'):
        #print("qual")
        qual.append(columnsName)
    else:
        #print("quan")
        quan.append(columnsName)

In [6]:
quan

['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo']

In [7]:
qual

['rbc',
 'pc',
 'pcc',
 'ba',
 'pcv',
 'wc',
 'rc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [8]:
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(dataset[quan])
df=imp.transform(dataset[quan])
df=pd.DataFrame(df,columns=quan)

In [9]:
df

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
0,0.0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,4.627244,15.4
1,1.0,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,4.627244,11.3
2,2.0,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,4.627244,9.6
3,3.0,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,2.500000,11.2
4,4.0,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,4.627244,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...
395,395.0,55.0,80.0,1.020,0.0,0.0,140.000000,49.0,0.5,150.000000,4.900000,15.7
396,396.0,42.0,70.0,1.025,0.0,0.0,75.000000,31.0,1.2,141.000000,3.500000,16.5
397,397.0,12.0,80.0,1.020,0.0,0.0,100.000000,26.0,0.6,137.000000,4.400000,15.8
398,398.0,17.0,60.0,1.025,0.0,0.0,114.000000,50.0,1.0,135.000000,4.900000,14.2
399,399.0,58.0,80.0,1.025,0.0,0.0,131.000000,18.0,1.1,141.000000,3.500000,15.8

In [10]:
df.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,16.974966,13.476298,0.005369,1.272318,1.029487,74.782634,49.285887,5.617490,9.204273,2.819783,2.716171
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.015000,0.000000,0.000000,101.000000,27.000000,0.900000,135.000000,4.000000,10.875000
50%,199.500000,54.000000,78.234536,1.017408,1.000000,0.000000,126.000000,44.000000,1.400000,137.528754,4.627244,12.526437
75%,299.250000,64.000000,80.000000,1.020000,2.000000,0.450142,150.000000,61.750000,3.072454,141.000000,4.800000,14.625000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [15]:
descriptive=pd.DataFrame()

In [16]:
descriptive

Empty DataFrame
Columns: []
Index: []

In [17]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"])

In [18]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)

In [19]:
for columnsName in quan :
    descriptive[columnsName]["Mean"]=dataset[columnsName].mean()
    descriptive[columnsName]["Median"]=dataset[columnsName].median()
    descriptive[columnsName]["Mode"]=dataset[columnsName].mode()[0]

In [20]:
descriptive

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
Mean,199.5,51.4834,76.4691,1.01741,1.01695,0.450142,148.037,57.4257,3.07245,137.529,4.62724,12.5264
Median,199.5,55,80,1.02,0,0,121,42,1.3,138,4.4,12.65
Mode,0,60,80,1.02,0,0,99,46,1.2,135,3.5,15

In [21]:
df.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,16.974966,13.476298,0.005369,1.272318,1.029487,74.782634,49.285887,5.617490,9.204273,2.819783,2.716171
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.015000,0.000000,0.000000,101.000000,27.000000,0.900000,135.000000,4.000000,10.875000
50%,199.500000,54.000000,78.234536,1.017408,1.000000,0.000000,126.000000,44.000000,1.400000,137.528754,4.627244,12.526437
75%,299.250000,64.000000,80.000000,1.020000,2.000000,0.450142,150.000000,61.750000,3.072454,141.000000,4.800000,14.625000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [22]:
#Univariate
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%","IQR","1.5rule","lesser","greater","min","max"],columns=quan)
for columnsName in quan :
    descriptive[columnsName]["Mean"]=dataset[columnsName].mean()
    descriptive[columnsName]["Median"]=dataset[columnsName].median()
    descriptive[columnsName]["Mode"]=dataset[columnsName].mode()[0]
    descriptive[columnsName]["Q1:25%"]=dataset.describe()[columnsName]["25%"]
    descriptive[columnsName]["Q2:50%"]=dataset.describe()[columnsName]["50%"]
    descriptive[columnsName]["Q3:75%"]=dataset.describe()[columnsName]["75%"]
    descriptive[columnsName]["Q4:100%"]=dataset.describe()[columnsName]["max"]
    descriptive[columnsName]["IQR"]=descriptive[columnsName]["Q3:75%"]-descriptive[columnsName]["Q1:25%"]
    descriptive[columnsName]["1.5rule"]=1.5*descriptive[columnsName]["IQR"]
    descriptive[columnsName]["lesser"]=descriptive[columnsName]["Q1:25%"]-descriptive[columnsName]["1.5rule"]
    descriptive[columnsName]["greater"]=descriptive[columnsName]["Q3:75%"]+descriptive[columnsName]["1.5rule"]
    descriptive[columnsName]["max"]=dataset[columnsName].max()
    descriptive[columnsName]["min"]=dataset[columnsName].min()

In [23]:
descriptive

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
Mean,199.5,51.4834,76.4691,1.01741,1.01695,0.450142,148.037,57.4257,3.07245,137.529,4.62724,12.5264
Median,199.5,55,80,1.02,0,0,121,42,1.3,138,4.4,12.65
Mode,0,60,80,1.02,0,0,99,46,1.2,135,3.5,15
Q1:25%,99.75,42,70,1.01,0,0,99,27,0.9,135,3.8,10.3
Q2:50%,199.5,55,80,1.02,0,0,121,42,1.3,138,4.4,12.65
Q3:75%,299.25,64.5,80,1.02,2,0,163,66,2.8,142,4.9,15
Q4:100%,399,90,180,1.025,5,5,490,391,76,163,47,17.8
IQR,199.5,22.5,10,0.01,2,0,64,39,1.9,7,1.1,4.7
1.5rule,299.25,33.75,15,0.015,3,0,96,58.5,2.85,10.5,1.65,7.05
lesser,-199.5,8.25,55,0.995,-3,0,3,-31.5,-1.95,124.5,2.15,3.25
greater,598.5,98.25,95,1.035,5,0,259,124.5,5.65,152.5,6.55,22.05
min,0,2,50,1.005,0,0,22,1.5,0.4,4.5,2.5,3.1
max,399,90,180,1.025,5,5,490,391,76,163,47,17.8

In [24]:
#out lier
lesser=[]
greater=[]
for columnsName in quan:
    if descriptive[columnsName]["min"]<descriptive[columnsName]["lesser"]:
        lesser.append(columnsName)
    if descriptive[columnsName]["max"]>descriptive[columnsName]["greater"]:
        greater.append(columnsName)

In [27]:
lesser

['age', 'bp', 'sod', 'hemo']

In [28]:
greater

['bp', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot']

In [31]:
#replace
for columnsName in lesser:
    dataset[columnsName][dataset[columnsName]<descriptive[columnsName]["lesser"]]=descriptive[columnsName]["lesser"]
for columnsName in greater:
    dataset[columnsName][dataset[columnsName]>descriptive[columnsName]["greater"]]=descriptive[columnsName]["greater"]

C:\Anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [32]:
#Univariate
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%","IQR","1.5rule","lesser","greater","min","max"],columns=quan)
for columnsName in quan :
    descriptive[columnsName]["Mean"]=dataset[columnsName].mean()
    descriptive[columnsName]["Median"]=dataset[columnsName].median()
    descriptive[columnsName]["Mode"]=dataset[columnsName].mode()[0]
    descriptive[columnsName]["Q1:25%"]=dataset.describe()[columnsName]["25%"]
    descriptive[columnsName]["Q2:50%"]=dataset.describe()[columnsName]["50%"]
    descriptive[columnsName]["Q3:75%"]=dataset.describe()[columnsName]["75%"]
    descriptive[columnsName]["Q4:100%"]=dataset.describe()[columnsName]["max"]
    descriptive[columnsName]["IQR"]=descriptive[columnsName]["Q3:75%"]-descriptive[columnsName]["Q1:25%"]
    descriptive[columnsName]["1.5rule"]=1.5*descriptive[columnsName]["IQR"]
    descriptive[columnsName]["lesser"]=descriptive[columnsName]["Q1:25%"]-descriptive[columnsName]["1.5rule"]
    descriptive[columnsName]["greater"]=descriptive[columnsName]["Q3:75%"]+descriptive[columnsName]["1.5rule"]
    descriptive[columnsName]["max"]=dataset[columnsName].max()
    descriptive[columnsName]["min"]=dataset[columnsName].min()

In [33]:
#out lier
lesser=[]
greater=[]
for columnsName in quan:
    if descriptive[columnsName]["min"]<descriptive[columnsName]["lesser"]:
        lesser.append(columnsName)
    if descriptive[columnsName]["max"]>descriptive[columnsName]["greater"]:
        greater.append(columnsName)

In [34]:
lesser

[]

In [35]:
greater

[]

In [36]:
#Univariate
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%","IQR","1.5rule","lesser","greater","min","max","kurtosis","skew"],columns=quan)
for columnsName in quan :
    descriptive[columnsName]["Mean"]=dataset[columnsName].mean()
    descriptive[columnsName]["Median"]=dataset[columnsName].median()
    descriptive[columnsName]["Mode"]=dataset[columnsName].mode()[0]
    descriptive[columnsName]["Q1:25%"]=dataset.describe()[columnsName]["25%"]
    descriptive[columnsName]["Q2:50%"]=dataset.describe()[columnsName]["50%"]
    descriptive[columnsName]["Q3:75%"]=dataset.describe()[columnsName]["75%"]
    descriptive[columnsName]["Q4:100%"]=dataset.describe()[columnsName]["max"]
    descriptive[columnsName]["IQR"]=descriptive[columnsName]["Q3:75%"]-descriptive[columnsName]["Q1:25%"]
    descriptive[columnsName]["1.5rule"]=1.5*descriptive[columnsName]["IQR"]
    descriptive[columnsName]["lesser"]=descriptive[columnsName]["Q1:25%"]-descriptive[columnsName]["1.5rule"]
    descriptive[columnsName]["greater"]=descriptive[columnsName]["Q3:75%"]+descriptive[columnsName]["1.5rule"]
    descriptive[columnsName]["max"]=dataset[columnsName].max()
    descriptive[columnsName]["min"]=dataset[columnsName].min()
    descriptive[columnsName]["skew"]=dataset[columnsName].skew()
    descriptive[columnsName]["kurtosis"]=dataset[columnsName].kurtosis()

In [37]:
descriptive

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
Mean,199.5,51.5512,75.6959,1.01741,1.01695,0,139.972,51.7643,2.13133,138.208,4.39006,12.5269
Median,199.5,55,80,1.02,0,0,121,42,1.3,138,4.4,12.65
Mode,0,60,80,1.02,0,0,259,124.5,5.65,135,3.5,15
Q1:25%,99.75,42,70,1.01,0,0,99,27,0.9,135,3.8,10.3
Q2:50%,199.5,55,80,1.02,0,0,121,42,1.3,138,4.4,12.65
Q3:75%,299.25,64.5,80,1.02,2,0,163,66,2.8,142,4.9,15
Q4:100%,399,90,95,1.025,5,0,259,124.5,5.65,152.5,6.55,17.8
IQR,199.5,22.5,10,0.01,2,0,64,39,1.9,7,1.1,4.7
1.5rule,299.25,33.75,15,0.015,3,0,96,58.5,2.85,10.5,1.65,7.05
lesser,-199.5,8.25,55,0.995,-3,0,3,-31.5,-1.95,124.5,2.15,3.25
greater,598.5,98.25,95,1.035,5,0,259,124.5,5.65,152.5,6.55,22.05
min,0,8.25,55,1.005,0,0,22,1.5,0.4,124.5,2.5,3.25
max,399,90,95,1.025,5,0,259,124.5,5.65,152.5,6.55,17.8
kurtosis,-1.2,-0.109481,-0.975988,-1.14436,-0.383377,0,-0.177305,0.0259568,-0.088975,-0.0583077,0.311595,-0.486354
skew,0,-0.61576,0.090421,-0.172444,0.998157,0,1.02296,1.07887,1.15381,-0.183473,0.383004,-0.331398

In [38]:
descriptive=pd.DataFrame(index=["kurtosis","skew"],columns=quan)
for columnsName in quan :
    descriptive[columnsName]["skew"]=dataset[columnsName].skew()
    descriptive[columnsName]["kurtosis"]=dataset[columnsName].kurtosis()

In [40]:
descriptive

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
kurtosis,-1.2,-0.109481,-0.975988,-1.14436,-0.383377,0,-0.177305,0.0259568,-0.088975,-0.0583077,0.311595,-0.486354
skew,0,-0.61576,0.090421,-0.172444,0.998157,0,1.02296,1.07887,1.15381,-0.183473,0.383004,-0.331398

In [42]:
df.isna().sum()

id      0
age     0
bp      0
sg      0
al      0
su      0
bgr     0
bu      0
sc      0
sod     0
pot     0
hemo    0
dtype: int64